section.info-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 400px;
    padding: 40px;
    background-color: rgba($color: #892210, $alpha: 0.4);
    color: white;
    h4, h2, p {
        margin: 12px 0 12px 0;
    }

    h4 {
        font-size: 24px;
    }

    h2 {
        font-size: 56px;
    }

    p {
        font-size: 18px;
    }
}