section.main {
    div.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 40px;
        right: 0;
        width: 100%;
        .main-logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            margin-left: 40px;
            border-radius: 5px;
            background-color: white;
            img.main-logo {
                width: 190px;
            }
        }
    }
    div.main-app {
        
    }
}
